<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--    {% if apartment_detail %}-->
<!--        <table width=100% border="1px solid" bgcolor="#5f9ea0">-->
<!--            <tr>-->
<!--                <th>Total_area</th>-->
<!--                <th>Numer_of_bedrooms</th>-->
<!--                <th>Number_of_bathroom</th>-->
<!--                <th>Price</th>-->
<!--                <th>Hotel id</th>-->
<!--            </tr>-->

<!--                <tr>-->
<!--                    <td>{{ apartment_detail.total_area }}</td>-->
<!--                    <td>{{ apartment_detail.numer_of_bedrooms }}</td>-->
<!--                    <td>{{ apartment_detail.number_of_bathroom}}</td>-->
<!--                    <td>{{ apartment_detail.price }}</td>-->
<!--                    <td>{{ apartment_detail.hotel_id }}</td>-->
<!--                </tr>-->
<!--        </table>-->
<!--    {% else %}-->
<!--        <h1>NOT FOUND</h1>-->
<!--    {% endif %}-->
<!--</body>-->
<!--</html>-->