{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOTEL DETAIL</title>
    <link rel="stylesheet" text="text/css" href="{% static 'css/hotel.css' %}">
</head>

<body>
    <h1>HOTEL DETAIL</h1>

    <br>
    <br>


    {% if hotel_detail.photo %}
        <img src="{{ hotel_detail.photo.url }}" alt="" width="550" height="400">
    {% else %}
        <h4>No Photo</h4>
    {% endif %}

    <br>
    <br>

    {% if hotel_detail %}

        <table>
             <tr>
                 <th>Name</th>
                 <th>Country</th>
                 <th>City</th>
                 <th>Street</th>
                 <th>House number</th>
                 <th>Description</th>
                 <th>Rating</th>
                 <th>Apartment</th>
            </tr>

                <tr>
                    <td>{{ hotel_detail.name }}</td>
                    <td>{{ hotel_detail.country }}</td>
                    <td>{{ hotel_detail.city }}</td>
                    <td>{{ hotel_detail.street }}</td>
                    <td>{{ hotel_detail.house_number }}</td>
                    <td>{{ hotel_detail.description }}</td>
                    <td>{{ hotel_detail.rating }}</td>
                    <td>
                        {% for apartment in hotel_detail.apartment.all %}
                            {{ apartment.numer_of_beds }}
                            <br>
                        {% endfor %}
                    </td>
<!--                    <td>-->
<!--                    {% if hotel_detail.photo %}-->
<!--                        <img src="{{ hotel_detail.photo.url }}" alt="">-->
<!--                    {% else %}-->
<!--                        <h4>No Photo</h4>-->
<!--                    {% endif %}-->
<!--                    </td>-->
                </tr>
        </table>

    <br>
    <br>

        <form method="get" action="{% url 'hotel-update' hotel_detail.id %}">
            <button>Update this hotel</button>
        </form>

        <br>
        <br>


        <h2>COMMENTS:</h2>
        <table>
            <tr>
                <th>Text</th>
                <th>Rating</th>
                <th>Created At</th>
            </tr>
            {% for comment in hotel_detail.comments.values %}
                <tr>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.rating }}</td>
                    <td>{{ comment.created_at }}</td>
                </tr>
            {% endfor %}
        </table>

        <br>

        <h6>Write a Comment for this Hotel:</h6>
<!---->
            <button>Write</button>
        </form>

        <br>

    {% else %}
        <h1>NOT FOUND</h1>
    {% endif %}
